@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 262 80% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 240 5.9% 10%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 240 5% 95%;
    --card: 240 10% 3.9%;
    --card-foreground: 240 5% 95%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 240 5% 95%;
    --primary: 262 80% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 240 5% 95%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 5.9% 10%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262 80% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animated-glowing-border {
    @apply relative z-0 overflow-hidden p-[1.5px];
  }

  .animated-glowing-border::before {
    content: '';
    @apply absolute -top-1/2 -left-1/2 -z-10 h-[200%] w-[200%] animate-border-spin;
    background: conic-gradient(
      hsl(var(--primary)),
      hsl(var(--destructive)),
      hsl(var(--accent)),
      hsl(var(--primary))
    );
  }
}
